     <!-- link to the SqPaymentForm library -->

   <!-- link to the local SqPaymentForm initialization -->
<!-- most of this from https://github.com/square/connect-api-examples/blob/master/connect-examples/v2/node_payment/views/index.pug -->

 <div class="sq-payment-form ">

       <div id="sq-walletbox">
         <div class="sq-wallet-divider">
          <span class="sq-wallet-divider__text"> Or</span>
         </div>
         <button id="sq-google-pay" class="button-google-pay"></button>
         <button id="sq-apple-pay" class="sq-apple-pay"></button>
        <button id="sq-masterpass" class="sq-masterpass"></button>
        <div class="sq-wallet-divider">
          <span class="sq-wallet-divider__text"> Or</span>
        </div>
     
      </div>

       <div id="sq-ccbox">
        
        <form id="nonce-form" novalidate action="https://riystest.herokuapp.com/process-payment" method="post">
          
          <!--
          <h2>Payment Information</h2>
          <div class="" id="billing">
            <label for="address1">Address</label>
            <input type="text" name="address1" id="address1" size="35" required><br>
            <label for="address2">Address 2</label>
            <input type="text" name="address2" id="address2"  size="35"><br>
            <label for="address3">Address 3</label>
            <input type="text" name="address3" id="address3"  size="35"><br>
            <label for="city">City</label>
            <input type="text" name="city" id="city"  size="35" required><br>
            <label for="state">State</label>
            <input type="text" name="state" id="state" size="35" required><br>
            <label for="country">Country</label>
            <input type="text" name="country" id="country"  size="35" required><br>
          </div>
          -->

       
          <h2>Pay with a Credit Card</h2>
          <div class="sq-field">
            <label for="sq-card-number" class="sq-label">Card Number:</label>
            <div id="sq-card-number"></div>
          </div>
          <div class="sq-field-wrapper">
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-cvv" class="sq-label">CVV:                
              </label>
              <div id="sq-cvv"></div>
            </div>
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-expiration-date" class="sq-label">Expiration </label>
              <div id="sq-expiration-date"></div>
            </div>
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-postal-code" class="sq-label">Postal Code </label>
              <div id="sq-postal-code"></div>
            </div>
          </div>

          <div class="sq-field">
          <button id="sq-creditcard" class="sq-button btn-main button-credit-card" (click)="this.requestCardNonce($event)">Pay with card</button>
          </div>
        
          <input type="hidden" id="sq-id" name="sq-id">
          <input type="hidden" id="card-nonce" name="nonce">


        </form>
      </div>
     
    
  </div>
  
