  
<!-- from this link https://mdbootstrap.com/support/angular/html-popover-problem/ -->
<ng-template #popTemplate>

  <div [innerHtml]="html"></div>
    <!--
    <h2>Hello</h2>
    -->
  <!-- popover layout from https://bootsnipp.com/snippets/oPgeG -->
  <div class="col-sm-12 mypopover">
        <div class="checkbox">
          <label class="bigger-font">
            <input type="checkbox"  class="mycheckbox" [(ngModel)]="skuCheckbox">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="text-muted">SKU</span>
          </label>
        </div>
        <div class="checkbox">
          <label class="bigger-font">
            <input type="checkbox" class="mycheckbox" [(ngModel)]="categoryCheckbox">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="text-muted">Category</span>
          </label>
        </div>
        <!--
        <div class="checkbox disabled">
        -->
        <div class="checkbox">
          <label class="bigger-font">
            <!--
            <input type="checkbox" class="mycheckbox" value="" disabled>
            -->
            <input type="checkbox" class="mycheckbox" [(ngModel)]="locationsCheckbox">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="text-muted">Locations</span>
          </label>
        </div>
        <div class="checkbox">
          <label class="bigger-font">
            <input type="checkbox"  class="mycheckbox" [(ngModel)]="inStockCheckbox">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="text-muted">In Stock</span>
          </label>
        </div>
        <div class="checkbox">
          <label class="bigger-font">
            <input type="checkbox"  class="mycheckbox" [(ngModel)]="priceCheckbox">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="text-muted">Price</span>
          </label>
        </div>
  </div>
</ng-template>

<ng-template #catTemplate>
  <div [innerHtml]="html"></div>
  
  <div class="col-sm-12 mypopover2">
    <div class="l-items-filter-filter-content">
      <input class="popover-list__filter-input input input-icon--search__input input-icon--search__input-clear" type="text">
      <i class="text-muted fas fa-search input-icon--search__icon"></i>
      <i class="text-muted fas fa-times-circle input-icon--search__icon-clear"></i>
      <!--
      <option class="radio-row popover-list__item l-items-category-filter__item option" 
            [ngValue]="category" *ngFor="let category of categories">{{category.name}}</option>
      -->
      <div *ngFor="let category of categories" class="popover-list__item">
        <div class="radio-row">
          <input  type="radio" class="popover-list__item l-items-category-filter__item option" 
            value="{{category.selectedChoice}}" [(ngModel)]="category" >{{category.name}}
        </div>
      </div>
    </div>
  </div> 
</ng-template>

<!--
<button type="button" class="btn btn-default btn-md" 
              (click)="searchCatalog('coffee',['ITEM', 'CATEGORY'])">Test InterFace</button>
-->
<button type="button" class="btn btn-default btn-md" 
              (click)="listCatalog('CATEGORY,ITEM')">Test InterFace</button>
<button type="button" class="btn btn-default btn-md" 
              (click)="testButtonClickHandler()">Shop</button>

<div class="catalogTable" [hidden]="!testButtonClicked"> 
  <h2>Shop till you drop</h2>
  
  <div class="d-flex flex-row pb-3">
    <button type="button" class="my-btn btn btn-indigo btn-md" [mdbPopover]="catTemplate" placement="bottom left">
      <span class="text-white">
        All Categories
        <i class="fas fa-angle-down my-dropdown2"></i>
      </span>
    </button>
  </div>
   
  <div class="d-flex flex-row">
    <table class="table table-sm table-hover">
 
      <thead class="blue-grey lighten-2 text-light">
        <tr>
          <th scope="col">Item</th>
          <th scope="col" [hidden]="!skuCheckbox">SKU</th>
          <th scope="col" [hidden]="!categoryCheckbox">Category</th>
          <th scope="col" [hidden]="!locationsCheckbox">Locations</th>
          <th scope="col" [hidden]="!inStockCheckbox">In Stock</th>
          <th scope="col" [hidden]="!priceCheckbox">Price</th>
        </tr>
      </thead>
 
      <tbody>
          <!-- From this site https://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
            A very easy option(works with Angular ng-click too):
            <tr onclick="myFunction(this)">
          -->
          <tr class="my-row" *ngFor="let shoppingItem of shoppingItems; let i = index" 
              (click)="shoppingTableRowClickHandler(shoppingItem)">
            <ng-container *ngIf="!shoppingItem.is_variation_row||groupExpanded[shoppingItem.group_id]">
              <td class="text-primary">
                <!-- Dynamic styles from this site https://malcoded.com/posts/angular-ngclass -->
                <div [class.my-indent]="shoppingItem.is_variation_row">
                  <strong>
                    <!-- Need to stop the click event from propagating to the click handler for the entire row by
                      using $event.stopPropagation().  Solution was found at this site
                      https://stackoverflow.com/questions/43883552/angular-4-stoppropagation-works-but-also-stops-any-further-dom-update -->
                    <span class="my-dropdown" *ngIf="shoppingItem.group_id&&!shoppingItem.is_variation_row" 
                          (click)="shoppingTableRowDropdownClickHandler(shoppingItem); $event.stopPropagation();">
                      <span *ngIf="!groupExpanded[shoppingItem.group_id]">
                        <i class="fas fa-angle-right"></i>
                      </span>
                      <span *ngIf="groupExpanded[shoppingItem.group_id]">
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </span>
                    <span (mouseover)="mouseOverItemHandler(i)" (mouseout)="mouseOutItemHandler(i)">
                      {{shoppingItem.name}}
                      <div [className]="showImage(i) ? 'my-image-show' : 'my-image-hide'">
                       <img  [src]="shoppingItem.image_url" alt="photo of item"/>
                      </div>
                    </span>
                  </strong>
                </div>
              </td>
              <td [hidden]="!skuCheckbox">{{shoppingItem.sku}}</td>
              <td [hidden]="!categoryCheckbox">{{shoppingItem.category}}</td>
              <td [hidden]="!locationsCheckbox">{{shoppingItem.locations}}</td> 
              <td [hidden]="!inStockCheckbox">{{shoppingItem.inStock}}</td>
              <td [hidden]="!priceCheckbox">{{shoppingItem.price}}</td>
            </ng-container> 
          </tr>          
      </tbody>
    
    </table>
    
    <!-- use triggers="focus" attribute to close popover on next click.  Could not use it here
      because any selection click within popover closes it with triggers set -->
    <button id="plusBtn" type="button" mdbBtn color="default" class="waves-light z-depth-0" [mdbPopover]="popTemplate"
      placement="left" 
      mdbWavesEffect >
      <div class="my-plus-circle" >
        <i class="fas fa-plus-circle fa float-right"></i>
      </div>
    </button>
    
  </div>
</div>

   <!-- link to the SqPaymentForm library -->

   <!-- link to the local SqPaymentForm initialization -->
<!-- most of this from https://github.com/square/connect-api-examples/blob/master/connect-examples/v2/node_payment/views/index.pug -->


 <div class="sq-payment-form ">

       <div id="sq-walletbox">
         <div class="sq-wallet-divider">
          <span class="sq-wallet-divider__text"> Or</span>
         </div>
         <button id="sq-google-pay" class="button-google-pay"></button>
         <button id="sq-apple-pay" class="sq-apple-pay"></button>
        <button id="sq-masterpass" class="sq-masterpass"></button>
        <div class="sq-wallet-divider">
          <span class="sq-wallet-divider__text"> Or</span>
        </div>
     
      </div>

       <div id="sq-ccbox">
        
        <form id="nonce-form" novalidate action="https://riystest.herokuapp.com/process-payment" method="post">
          
          <!--
          <h2>Payment Information</h2>
          <div class="" id="billing">
            <label for="address1">Address</label>
            <input type="text" name="address1" id="address1" size="35" required><br>
            <label for="address2">Address 2</label>
            <input type="text" name="address2" id="address2"  size="35"><br>
            <label for="address3">Address 3</label>
            <input type="text" name="address3" id="address3"  size="35"><br>
            <label for="city">City</label>
            <input type="text" name="city" id="city"  size="35" required><br>
            <label for="state">State</label>
            <input type="text" name="state" id="state" size="35" required><br>
            <label for="country">Country</label>
            <input type="text" name="country" id="country"  size="35" required><br>
          </div>
          -->

       
          <h2>Pay with a Credit Card</h2>
          <div class="sq-field">
            <label for="sq-card-number" class="sq-label">Card Number:</label>
            <div id="sq-card-number"></div>
          </div>
          <div class="sq-field-wrapper">
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-cvv" class="sq-label">CVV:                
              </label>
              <div id="sq-cvv"></div>
            </div>
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-expiration-date" class="sq-label">Expiration </label>
              <div id="sq-expiration-date"></div>
            </div>
            <div class="sq-field sq-field--in-wrapper">
              <label for="sq-postal-code" class="sq-label">Postal Code </label>
              <div id="sq-postal-code"></div>
            </div>
          </div>

          <div class="sq-field">
          <button id="sq-creditcard" class="sq-button btn-main button-credit-card" (click)="this.requestCardNonce($event)">Pay with card</button>
          </div>
        
          <input type="hidden" id="sq-id" name="sq-id">
          <input type="hidden" id="card-nonce" name="nonce">


        </form>
      </div>
     
    
  </div>
  
