@media only screen and (max-width:520px)  {
    #paymentDetails {
      width: 300px;
    }
    #sq-ccbox {
      padding:5px;
      font-weight: bold;
      font-size: 12px;
      width: calc(100% - 63px);
      text-align: left;
    }
    .sq-input {
      height: calc(26px - 10px); /* 36 minus 10px top/bottom padding */
      padding: 1px 2px;  /* top, right */
    }
    .sq-input.full {
      width: calc(100% - 3px); /* minus left/right padding from .sq-input */
    }
    /* card field lockup */
    #sq-card-number {
      width: 121px; /* minus left/right padding from .sq-input */
    }

    #sq-cvv {
      width: 121px; /* minus left/right padding from .sq-input */
    }

    #sq-expiration-date {
      width: 121px; /* minus left/right padding from .sq-input */
    }
    #sq-postal-code {
      width: 121px; /* minus left/right padding from .sq-input */
    }
    /* Customize the "Pay with Credit Card" button */
    .button-credit-card {
      min-width: 100px;
      min-height: 14px;
      padding: 0;
      margin: 5px;
      line-height: 12px;
      font-weight: bold;
      width: calc(100% - 53px); /* minus left/right padding from .sq-input */
    }

}  


