// Styling from square doc https://docs.connect.squareup.com/payments/sqpaymentform/cookbook/customize-payment-form-styles?q=style%20form
// Custom styling from https://medium.com/square-corner-blog/design-your-custom-payment-form-with-sqpaymentform-d3e181eec479

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// custom button for all media types
.button-credit-card {
      display: block;
      width: 100%;
      height: 56px;
      padding: 15px;
      margin-top: 10px;
      background: #0EB00E;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
      border-radius: 4px;
      cursor:pointer;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      outline: none;
}

/* custom for all labels for form fields -- eventually may want to resize based on screen size*/
    label {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      padding-right: 16px;
    }

/* custom -- eventually may want to resize based on screen size */
 #sq-ccbox {
      float:left;
      margin:5px;
      padding:10px;
      width: calc(100% - 63px); // square
      text-align: left; // square      
      vertical-align: top;
      font-weight: bold;
    }

@media only screen and (max-width:520px)  {
    #paymentDetails {
      width: 300px;
    }
    /* from square doc 
    #sq-ccbox {
      padding:5px;
      font-weight: bold;
      font-size: 12px;
      width: calc(100% - 63px);
      text-align: left;
    }
    */
    #sq-ccbox {
      float:left;
      margin:5px;
      padding:10px;
      vertical-align: top;
      font-weight: bold;
    }
    /* from square doc 
    .sq-input {
      height: calc(26px - 10px); // 36 minus 10px top/bottom padding 
      padding: 1px 2px;  // top, right 
    }

    /* custom */
    .sq-input {
      display: inline-block;
      border: 1px solid #E0E2E3;
      border-radius: 4px;
    }

    /* custom */
    .sq-input--focus {
      border: 1px solid #4A90E2;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
    }

    /* custom */
    .sq-input--error {
      border: 1px solid red;
    }

    /* custom */
    .sq-input.full {
      width: calc(100% - 3px); // minus left/right padding from .sq-input 
    }

       
    /* card field lockup */
    #sq-card-number {
      width: 121px; /* minus left/right padding from .sq-input */
    }

    #sq-cvv {
      width: 121px; /* minus left/right padding from .sq-input */
    }

    #sq-expiration-date {
      width: 121px; /* minus left/right padding from .sq-input */
    }
    #sq-postal-code {
      width: 121px; /* minus left/right padding from .sq-input */
    }
      
    // button tailored for small media type
    .button-credit-card {
      // min-width: 100px; // from square
      // min-height: 14px; // from square
      width: calc(100% - 53px); // from square -- width previously set to 100%      
      height: 45px; // custom was 56px
      padding: 0px; // custom was 15px
      // margin-top: 10px; -- not sure if this is needed      
      font-size: 13px;   // custom was 16 px
      line-height: 18px; // custom was set at 24 px      
    }

}  

