<!-- Calendar header -->
<div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="vw"
            [(viewDate)]="vwDate"
            (viewDateChange)="viewDateChange.next(vwDate)">
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="vwDate"
            (viewDateChange)="viewDateChange.next(vwDate)">
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="vw"
            [(viewDate)]="vwDate"
            (viewDateChange)="viewDateChange.next(vwDate)">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ vwDate | calendarDate:(vw + 'ViewTitle'):locale }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="viewChange.emit('month')"
            [class.active]="vw === 'month'">
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange.emit('week')"
            [class.active]="vw === 'week'">
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange.emit('day')"
            [class.active]="vw === 'day'">
            Day
          </div>
        </div>
      </div>
    </div>
    <br>
<!-- End calendar header -->

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="vw">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="vwDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="vwDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="vwDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-day-view>
  </div>
</div>
