<!-- Calendar header -->
<div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <button mdbBtn type="button" color="light-green" 
            class="waves-light btn-sm myrounded" mdbWavesEffect
              mwlCalendarPreviousView
              [view]="vw"
              [(viewDate)]="vwDate"
              (viewDateChange)="fetchEvents(); activeDayIsOpen = false">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>
          <button mdbBtn type="button" color="amber" 
            class="waves-light btn-md" mdbWavesEffect
              mwlCalendarToday
              [(viewDate)]="vwDate"
              (viewDateChange)="fetchEvents()">
              Today
          </button>
          <button mdbBtn type="button" color="light-green" 
            class="waves-light btn-sm myrounded" mdbWavesEffect
              mwlCalendarNextView
              [view]="vw"
              [(viewDate)]="vwDate"
              (viewDateChange)="fetchEvents(); activeDayIsOpen = false">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="myh5">{{ vwDate | calendarDate:(vw + 'ViewTitle'):locale }}</h5>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <button mdbBtn type="button" color="light-green" 
            class="waves-light btn-md myrounded" mdbWavesEffect
              (click)="vw = vwMonth"
              [class.active]="vw === 'month'">
              Month
          </button>
          <button mdbBtn type="button" color="light-green" 
            class="waves-light btn-md" mdbWavesEffect
              (click)="vw = vwWeek"
              [class.active]="vw === 'week'">
              Week
          </button>
          <button mdbBtn type="button" color="light-green" 
            class="waves-light btn-md myrounded" mdbWavesEffect
              (click)="vw = vwDay"
              [class.active]="vw === 'day'">
              Day
          </button>
        </div>
      </div>
    </div>
    <br>
<!-- End calendar header -->

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="vw">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="vwDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="vwDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="vwDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-day-view>
  </div>
</div>
