.myh5 {
  padding-top: 0.45rem;
  margin-bottom: 0;
  height: inherit;
  padding-bottom: 0.45rem;
}

.myrounded {
  border-radius: 15px;
}

.myindent {
  margin-left: 20px;
}

.myoutline {
  outline: 1px solid grey;
  padding: 8px;
}
