<app-page-header [content]="registerHeader"></app-page-header>

  <div class="row">
    <div class="col-md-6 col-sm-8">      
      <p class="lead">Already a member? Please <a routerLink="/sign_in" [queryParams]="{page: returnPage}" 
                                                  routerLinkActive="active">log in</a> instead.</p>
      <form (ngSubmit)="onSubmit()">
        <div role="alert" ng-show="formError" class="alert alert-danger">{{ formError }}</div>
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" 
                 [(ngModel)]="credentials.user.name" name="fullname">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" required 
                 [(ngModel)]="credentials.user.email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required 
                 [(ngModel)]="credentials.user.password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>
