mat-form-field {
  width: 100%;
  font-size: 13px;
  margin-bottom: -21px;
  margin-top: -1px;
 
}

.sample {
  margin-top: 9px;
  background-color: white;
}

/*
.mat-form-field-outline {
  background-color: red;
}*/
