/* Styles for Matt Lewis's Calendar (refer to site https://github.com/mattlewis92/angular-calendar */
@import "~angular-calendar/css/angular-calendar.css";
/* Color scheme for Angular Materials Styling - Menus Sidenavs, Toolbars */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*"~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*"~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*"~@angular/material/prebuilt-themes/purple-green.css";*/
/*"~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

/* styles for owldatetime -- see http://www.lib4dev.com/info/DanielYKPan/date-time-picker/74739830
and here https://daniel-projects.firebaseapp.com/owlng/date-time-picker */
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "modal";

//-- Custom theming from site https://alligator.io/angular/angular-material-custom-theme/

/* Note it also demonstrates how to create and use alternate themes.
TO use an alternate themen simply add the class name to a parent element in your templates for the alternate theme to take effect. use as follows:
<mat-card class="alternate-theme">
  Alternate Theme:
  <button mat-raised-button color="primary"> */

/*

/* Note:  mat-palette takes a color name as its first argument, and the remaining optional second, third and fourth arguments define a default value, a lighter value and a darker value. The color names and values themselves are taken from the official Material Design color guidelines (https://material.io/design/color/#): */

/*
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}
*/
//-- end section on custom themes




//-- Custom background theming from site https://stackoverflow.com/questions/43919927/angular-material2-theming-how-to-set-app-background

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
/*
@import '~@angular/material/theming';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-red, 600, 400, 900);
$accent: mat-palette($mat-blue-grey, 500, 200, 700);
$background-color: map_get($mat-blue-grey, 900);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-blue);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));
$theme: map_merge($theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
//@include my-app-theme($theme);
/*
//-- end section on Custom background theming 




/*This instruction is from web site https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/include-font-awesome.md*/
/* commenting out imports for bootstrap, font-awesome etc since they are already in angular.json.  If this causes a problem under stackblitz
just remove comment */
/*@import "variables";*/
/*@import "~font-awesome/scss/font-awesome";*/
/*@import "~bootstrap/scss/bootstrap";*/
/* getting Error in angular-bootstrap-md/scss/free/_forms.scss (5:3) property "input" must be followed by a ':'
so I'm commenting out the import for mdb-free for now 
@import "~angular-bootstrap-md/scss/mdb-free.scss"; */

/* Master Styles -- commented out because affecting mdboostrap styling
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
-- Navigation link styles --
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
-- everywhere else --
* {
  font-family: Arial, Helvetica, sans-serif;
}
*/
/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
