<mat-tab-group>
  <!-- Month View -->
  <mat-tab>
    <ng-template mat-tab-label>
      <h4>Month</h4>
    </ng-template>
    <div class="col-md-4">     
      <h5>{{ vwDate | calendarDate:(vw + 'ViewTitle'): locale }}</h5>
    </div>

    <div class="btn btn-primary"
          mwlCalendarPreviousView
            [view]="vwMonth"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Previous
    </div>

     <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Today
          </div>

    <div class="btn btn-primary"
          mwlCalendarNextView
            [view]="vwMonth"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Next
    </div>
    
    <!-- Button group to switch between different calendar views -->
     <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="vw = vwMonth"
          [class.active]="vw === vwMonth">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="vw = vwWeek"
          [class.active]="vw === vwWeek">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="vw = vwDay"
          [class.active]="vw === vwDay">
          Day
        </div>
        <div
          class="btn btn-primary"
          (click)="vw = vwSDay"
          [class.active]="vw === vwSDay">
          Short Day
        </div>
      </div>
    </div>
    <!-- Button group to switch between different calendar views -->

    <div [ngSwitch]="vw">
      <mwl-calendar-month-view
        *ngSwitchCase="vwMonth"
        [viewDate]="vwDate"
        [events]="evnts">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
      *ngSwitchCase="vwWeek"    
      [viewDate]="vwDate"
      [events]="evnts"
      [excludeDays]="exclDays"
      [weekStartsOn]="wkStartsOn">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
      *ngSwitchCase="vwDay"
      [viewDate]="vwDate"
      [events]="evnts"
      [hourSegments]="4">
    </mwl-calendar-day-view>
     <mwl-calendar-day-view
      *ngSwitchCase="vwSDay"
      [viewDate]="vwDate"
      [events]="evnts"
      [dayStartHour]="9"
      [dayEndHour]="17">  
    </mwl-calendar-day-view>
    </div>
  </mat-tab>
  <!-- Week View -->
  <mat-tab>
    <ng-template mat-tab-label>
      <h4>Week</h4>
    </ng-template>
     <div class="col-md-4">     
      <h5>{{ vwDate | calendarDate:(vwWeek + 'ViewTitle'): locale }}</h5>
    </div>

    <div class="btn btn-primary"
          mwlCalendarPreviousView
            [view]="vwWeek"
            [(viewDate)]="vwDate"
            [excludeDays]="exclDays"           
            (viewDateChange)="vwDateChange.next(vwDate)">
            Previous
    </div>

     <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Today
          </div>

    <div class="btn btn-primary"
          mwlCalendarNextView
            [view]="vwWeek"
            [(viewDate)]="vwDate"
            [excludeDays]="exclDays"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Next
    </div>

    <mwl-calendar-week-view    
      [viewDate]="vwDate"
      [events]="evnts"
      [excludeDays]="exclDays"
      [weekStartsOn]="wkStartsOn">
    </mwl-calendar-week-view>
  </mat-tab>
  <!-- Day View -->
  <mat-tab>
    <ng-template mat-tab-label>
      <h4>Day</h4>
    </ng-template>

     <div class="col-md-4">     
      <h5>{{ vwDate | calendarDate:(vwDay + 'ViewTitle'): locale }}</h5>
    </div>

    <div class="btn btn-primary"
          mwlCalendarPreviousView
            [view]="vwDay"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Previous
    </div>

     <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Today
          </div>

    <div class="btn btn-primary"
          mwlCalendarNextView
            [view]="vwDay"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Next
    </div>

    <mwl-calendar-day-view
      [viewDate]="vwDate"
      [events]="evnts"
      [hourSegments]="4">
    </mwl-calendar-day-view>
  </mat-tab>
  <!-- Short Day View -->
  <mat-tab>
    <ng-template mat-tab-label>
      <h4>Short Day</h4>
    </ng-template>

    <div class="col-md-4">     
      <h5>{{ vwDate | calendarDate:(vwDay + 'ViewTitle'): locale }}</h5>
    </div>

    <div class="btn btn-primary"
          mwlCalendarPreviousView
            [view]="vwDay"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Previous
    </div>

     <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Today
          </div>

    <div class="btn btn-primary"
          mwlCalendarNextView
            [view]="vwDay"
            [(viewDate)]="vwDate"
            (viewDateChange)="vwDateChange.next(vwDate)">
            Next
    </div>
    
    <mwl-calendar-day-view
      [viewDate]="vwDate"
      [events]="evnts"
      [dayStartHour]="9"
      [dayEndHour]="17">  
    </mwl-calendar-day-view>
  </mat-tab>
</mat-tab-group>
